@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
@-webkit-keyframes moveOutToLeftMobile {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}
@keyframes moveOutToLeftMobile {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@-webkit-keyframes moveInFromLeftMobile {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveInFromLeftMobile {
  from {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveOutToRightMobile {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@keyframes moveOutToRightMobile {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@-webkit-keyframes moveInFromRightMobile {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveInFromRightMobile {
  from {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveOutToLeftDesktop {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-58.3vw);
            transform: translateX(-58.3vw);
  }
}

@keyframes moveOutToLeftDesktop {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-58.3vw);
            transform: translateX(-58.3vw);
  }
}

@-webkit-keyframes moveInFromLeftDesktop {
  from {
    -webkit-transform: translateX(58.3vw);
            transform: translateX(58.3vw);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveInFromLeftDesktop {
  from {
    -webkit-transform: translateX(58.3vw);
            transform: translateX(58.3vw);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveOutToRightDesktop {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(58.3vw);
            transform: translateX(58.3vw);
  }
}

@keyframes moveOutToRightDesktop {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(58.3vw);
            transform: translateX(58.3vw);
  }
}

@-webkit-keyframes moveInFromRightDesktop {
  from {
    -webkit-transform: translateX(-58.3vw);
            transform: translateX(-58.3vw);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveInFromRightDesktop {
  from {
    -webkit-transform: translateX(-58.3vw);
            transform: translateX(-58.3vw);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: -webkit-box;
    display: flex;
    opacity: 0;
  }
  100% {
    display: -webkit-box;
    display: flex;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
  }
  100% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    display: -webkit-box;
    display: flex;
    opacity: 1;
  }
  99% {
    display: -webkit-box;
    display: flex;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  99% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes fadeInBackdrop {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 0.6;
  }
}

@keyframes fadeInBackdrop {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 0.6;
  }
}

@-webkit-keyframes fadeOutBackdrop {
  0% {
    display: block;
    opacity: 0.6;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOutBackdrop {
  0% {
    display: block;
    opacity: 0.6;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

header {
  position: absolute;
  width: 100vw;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 7;
}

header.isOpen {
  background-color: white;
}

header .logo {
  position: absolute;
  top: 3rem;
  left: 50%;
  margin-left: -31px;
  z-index: 3;
}

@media screen and (min-width: 30rem) {
  header .logo {
    left: 0;
    margin-left: 2rem;
  }
}

header #btnMobileMenu {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}

@media screen and (min-width: 30rem) {
  header #btnMobileMenu {
    display: none;
  }
}

header nav {
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 30rem) {
  header nav {
    margin-left: 7rem;
  }
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 30rem) {
  header li {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}

header a {
  position: relative;
  padding: 0.8rem 0.5rem;
  font-size: 0.8rem;
  text-transform: lowercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header a:hover, header a:focus {
  cursor: pointer;
}

header a:hover::after, header a:focus::after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  content: "";
  height: 3px;
  left: 18px;
  right: 18px;
  bottom: 0;
  background-color: black;
}

header a:active {
  color: #a1a1a1;
}

header a:active::after {
  background-color: #a1a1a1;
}

@media screen and (min-width: 30rem) {
  header a {
    color: white;
  }
  header a:hover, header a:focus {
    cursor: pointer;
  }
  header a:hover::after, header a:focus::after {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    content: "";
    height: 3px;
    left: 18px;
    right: 18px;
    bottom: 0;
    background-color: white;
  }
  header a:active {
    color: #454545;
  }
  header a:active::after {
    background-color: #454545;
  }
}

header .emptyDiv {
  width: 20px;
}

@media screen and (min-width: 60rem) {
  #slider {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 58.4vw 41.7vw;
        grid-template-columns: 58.4vw 41.7vw;
    -ms-grid-rows: 66.75vh;
        grid-template-rows: 66.75vh;
  }
}

#slider #sliderImageBox {
  position: relative;
  width: 100vw;
  height: 109vw;
  overflow: hidden;
}

@media screen and (min-width: 40rem) {
  #slider #sliderImageBox {
    height: 64vw;
  }
}

@media screen and (min-width: 60rem) {
  #slider #sliderImageBox {
    width: 100%;
    height: 100%;
  }
}

#slider .sliderImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slider #sliderImage1 {
  background-image: url("../images/mobile-image-hero-1.jpg");
}

@media screen and (min-width: 40rem) {
  #slider #sliderImage1 {
    background-image: url("../images/desktop-image-hero-1.jpg");
  }
}

#slider #sliderImage2 {
  background-image: url("../images/mobile-image-hero-2.jpg");
}

@media screen and (min-width: 40rem) {
  #slider #sliderImage2 {
    background-image: url("../images/desktop-image-hero-2.jpg");
  }
}

#slider #sliderImage3 {
  background-image: url("../images/mobile-image-hero-3.jpg");
}

@media screen and (min-width: 40rem) {
  #slider #sliderImage3 {
    background-image: url("../images/desktop-image-hero-3.jpg");
  }
}

#slider #sliderTextBox {
  position: relative;
  width: 100vw;
  height: 120vw;
  overflow: hidden;
}

@media screen and (min-width: 25rem) {
  #slider #sliderTextBox {
    height: 108vw;
  }
}

@media screen and (min-width: 30rem) {
  #slider #sliderTextBox {
    height: 83vw;
  }
}

@media screen and (min-width: 35rem) {
  #slider #sliderTextBox {
    height: 62vw;
  }
}

@media screen and (min-width: 40rem) {
  #slider #sliderTextBox {
    height: 50vw;
  }
}

@media screen and (min-width: 45rem) {
  #slider #sliderTextBox {
    height: 42vw;
  }
}

@media screen and (min-width: 50rem) {
  #slider #sliderTextBox {
    height: 38vw;
  }
}

@media screen and (min-width: 60rem) {
  #slider #sliderTextBox {
    width: 100%;
    height: 100%;
  }
}

#slider .slideText {
  padding: 4rem 2rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 60rem) {
  #slider .slideText {
    padding: 6rem 4rem;
  }
}

@media screen and (min-width: 70rem) {
  #slider .slideText {
    padding: 6rem 5rem;
  }
}

@media screen and (min-width: 80rem) {
  #slider .slideText {
    padding: 6rem;
  }
}

#slider h1 {
  font-size: 1.5rem;
}

#slider p {
  margin-top: 1.5rem;
}

#slider a {
  display: inline-block;
  margin-top: 4rem;
  text-transform: uppercase;
  letter-spacing: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#slider a:hover, #slider a:focus {
  cursor: pointer;
  color: #a1a1a1;
}

#slider a:hover svg path, #slider a:focus svg path {
  fill: #a1a1a1;
}

#slider a:active {
  color: #454545;
}

#slider a:active svg path {
  fill: #454545;
}

#slider a svg {
  margin-left: 2rem;
}

#slider a path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#slider .moveOutToLeftMobile {
  -webkit-animation: moveOutToLeftMobile 1s ease-in-out forwards;
          animation: moveOutToLeftMobile 1s ease-in-out forwards;
}

@media screen and (min-width: 60rem) {
  #slider .moveOutToLeftMobile {
    -webkit-animation: moveOutToLeftDesktop 1s ease-in-out forwards;
            animation: moveOutToLeftDesktop 1s ease-in-out forwards;
  }
}

#slider .moveInFromLeftMobile {
  -webkit-animation: moveInFromLeftMobile 1s ease-in-out forwards;
          animation: moveInFromLeftMobile 1s ease-in-out forwards;
}

@media screen and (min-width: 60rem) {
  #slider .moveInFromLeftMobile {
    -webkit-animation: moveInFromLeftDesktop 1s ease-in-out forwards;
            animation: moveInFromLeftDesktop 1s ease-in-out forwards;
  }
}

#slider .moveOutToRightMobile {
  -webkit-animation: moveOutToRightMobile 1s ease-in-out forwards;
          animation: moveOutToRightMobile 1s ease-in-out forwards;
}

@media screen and (min-width: 60rem) {
  #slider .moveOutToRightMobile {
    -webkit-animation: moveOutToRightDesktop 1s ease-in-out forwards;
            animation: moveOutToRightDesktop 1s ease-in-out forwards;
  }
}

#slider .moveInFromRightMobile {
  -webkit-animation: moveInFromRightMobile 1s ease-in-out forwards;
          animation: moveInFromRightMobile 1s ease-in-out forwards;
}

@media screen and (min-width: 60rem) {
  #slider .moveInFromRightMobile {
    -webkit-animation: moveInFromRightDesktop 1s ease-in-out forwards;
            animation: moveInFromRightDesktop 1s ease-in-out forwards;
  }
}

#slider .btnSlider {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 0;
  border: none;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 60rem) {
  #slider .btnSlider {
    width: 5.55vw;
    height: 5.55vw;
  }
}

#slider .btnSlider:hover, #slider .btnSlider:focus {
  cursor: pointer;
  background-color: #454545;
}

#slider .btnSlider:active {
  background-color: #a1a1a1;
}

#slider .btnSliderLeft {
  right: 70px;
  background-image: url("../images/icon-angle-left.svg");
}

@media screen and (min-width: 60rem) {
  #slider .btnSliderLeft {
    left: 0;
    right: unset;
  }
}

#slider .btnSliderRight {
  right: 0;
  background-image: url("../images/icon-angle-right.svg");
}

@media screen and (min-width: 60rem) {
  #slider .btnSliderRight {
    left: 5.55vw;
    right: unset;
  }
}

@media screen and (min-width: 60rem) {
  #slider #btnSliderLeftMobile,
  #slider #btnSliderRightMobile {
    display: none;
  }
}

#slider #btnSliderLeftDesktop,
#slider #btnSliderRightDesktop {
  display: none;
}

@media screen and (min-width: 60rem) {
  #slider #btnSliderLeftDesktop,
  #slider #btnSliderRightDesktop {
    display: block;
  }
}

@media screen and (min-width: 60rem) {
  #bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 29.2vw 40.3vw 30.6vw;
        grid-template-columns: 29.2vw 40.3vw 30.6vw;
    -ms-grid-rows: 33.25vh;
        grid-template-rows: 33.25vh;
  }
}

#bottom #imgDarkBox {
  width: 100vw;
  height: 40vh;
  background-image: url("../images/image-about-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 60rem) {
  #bottom #imgDarkBox {
    width: 100%;
    height: 100%;
  }
}

#bottom #about {
  padding: 4rem 2rem;
}

@media screen and (min-width: 60rem) {
  #bottom #about {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 64rem) {
  #bottom #about {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 70rem) {
  #bottom #about {
    padding: 4rem;
  }
}

@media screen and (min-width: 80rem) {
  #bottom #about {
    padding: 5rem;
  }
}

#bottom #about h2 {
  font-size: 0.9rem;
}

#bottom #about p {
  margin-top: 1.2rem;
}

#bottom #imgLightBox {
  width: 100vw;
  height: 40vh;
  background-image: url("../images/image-about-light.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 60rem) {
  #bottom #imgLightBox {
    width: 100%;
    height: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
p,
a {
  font-family: "Spartan", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

p {
  color: #a1a1a1;
  font-weight: 500;
  line-height: 1.4rem;
  font-size: 0.8rem;
}

li {
  list-style-type: none;
}

#backdrop {
  position: absolute;
  inset: 0;
  background-color: #a1a1a1;
  opacity: 0;
  z-index: 5;
}

.fadeIn {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
}

.fadeOut {
  -webkit-animation: fadeOut 1s forwards;
          animation: fadeOut 1s forwards;
}

.fadeInBackdrop {
  -webkit-animation: fadeInBackdrop 1s forwards;
          animation: fadeInBackdrop 1s forwards;
}

.fadeOutBackdrop {
  -webkit-animation: fadeOutBackdrop 1s forwards;
          animation: fadeOutBackdrop 1s forwards;
}

.displayNone {
  display: none;
}

.overflowHidden {
  overflow: hidden;
}

body {
  position: relative;
}

@media screen and (min-width: 60rem) {
  body {
    overflow: hidden;
  }
}
/*# sourceMappingURL=main.css.map */