#slider {
  @media screen and (min-width: 60rem) {
    display: grid;
    grid-template-columns: 58.4vw 41.7vw;
    grid-template-rows: 66.75vh;
  }

  #sliderImageBox {
    position: relative;
    width: 100vw;
    height: 109vw;
    overflow: hidden;

    @media screen and (min-width: 40rem) {
      height: 64vw;
    }

    @media screen and (min-width: 60rem) {
      width: 100%;
      height: 100%;
    }
  }

  .sliderImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #sliderImage1 {
    background-image: url("../images/mobile-image-hero-1.jpg");

    @media screen and (min-width: 40rem) {
      background-image: url("../images/desktop-image-hero-1.jpg");
    }
  }

  #sliderImage2 {
    background-image: url("../images/mobile-image-hero-2.jpg");

    @media screen and (min-width: 40rem) {
      background-image: url("../images/desktop-image-hero-2.jpg");
    }
  }

  #sliderImage3 {
    background-image: url("../images/mobile-image-hero-3.jpg");

    @media screen and (min-width: 40rem) {
      background-image: url("../images/desktop-image-hero-3.jpg");
    }
  }

  #sliderTextBox {
    position: relative;
    width: 100vw;
    height: 120vw;
    overflow: hidden;

    @media screen and (min-width: 25rem) {
      height: 108vw;
    }

    @media screen and (min-width: 30rem) {
      height: 83vw;
    }

    @media screen and (min-width: 35rem) {
      height: 62vw;
    }

    @media screen and (min-width: 40rem) {
      height: 50vw;
    }

    @media screen and (min-width: 45rem) {
      height: 42vw;
    }

    @media screen and (min-width: 50rem) {
      height: 38vw;
    }

    @media screen and (min-width: 60rem) {
      width: 100%;
      height: 100%;
    }
  }

  .slideText {
    padding: 4rem 2rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    @media screen and (min-width: 60rem) {
      padding: 6rem 4rem;
    }

    @media screen and (min-width: 70rem) {
      padding: 6rem 5rem;
    }

    @media screen and (min-width: 80rem) {
      padding: 6rem;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    margin-top: 1.5rem;
  }

  a {
    display: inline-block;
    margin-top: 4rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      cursor: pointer;
      color: $darkGray;

      svg path {
        fill: $darkGray;
      }
    }

    &:active {
      color: $veryDarkGray;

      svg path {
        fill: $veryDarkGray;
      }
    }

    svg {
      margin-left: 2rem;
    }
    path {
      transition: all 0.2s ease-in-out;
    }
  }

  .moveOutToLeftMobile {
    animation: moveOutToLeftMobile 1s ease-in-out forwards;

    @media screen and (min-width: 60rem) {
      animation: moveOutToLeftDesktop 1s ease-in-out forwards;
    }
  }

  .moveInFromLeftMobile {
    animation: moveInFromLeftMobile 1s ease-in-out forwards;

    @media screen and (min-width: 60rem) {
      animation: moveInFromLeftDesktop 1s ease-in-out forwards;
    }
  }

  .moveOutToRightMobile {
    animation: moveOutToRightMobile 1s ease-in-out forwards;

    @media screen and (min-width: 60rem) {
      animation: moveOutToRightDesktop 1s ease-in-out forwards;
    }
  }

  .moveInFromRightMobile {
    animation: moveInFromRightMobile 1s ease-in-out forwards;

    @media screen and (min-width: 60rem) {
      animation: moveInFromRightDesktop 1s ease-in-out forwards;
    }
  }

  .btnSlider {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0;
    border: none;
    background-color: $black;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 3;
    transition: all 0.2s ease-in-out;

    @media screen and (min-width: 60rem) {
      width: 5.55vw;
      height: 5.55vw;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $veryDarkGray;
    }
    &:active {
      background-color: $darkGray;
    }
  }

  .btnSliderLeft {
    right: 70px;
    background-image: url("../images/icon-angle-left.svg");

    @media screen and (min-width: 60rem) {
      left: 0;
      right: unset;
    }
  }

  .btnSliderRight {
    right: 0;
    background-image: url("../images/icon-angle-right.svg");

    @media screen and (min-width: 60rem) {
      left: 5.55vw;
      right: unset;
    }
  }

  #btnSliderLeftMobile,
  #btnSliderRightMobile {
    @media screen and (min-width: 60rem) {
      display: none;
    }
  }

  #btnSliderLeftDesktop,
  #btnSliderRightDesktop {
    display: none;
    @media screen and (min-width: 60rem) {
      display: block;
    }
  }
}
