#bottom{

    #imgDarkBox{
        background-image: url("../images/image-about-dark.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 40vh;

    }

    #about{
        padding: 4rem 2rem;

        h2 {
          font-size: 0.9rem;
        }
    
        p {
          margin-top: 1.2rem;
        }
    }

    #imgLightBox{
        background-image: url("../images/image-about-light.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 40vh;
    }

}