header {
  position: absolute;
  width: 100vw;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: all 1s ease-in-out;
  z-index: 7;

  &.isOpen {
    background-color: $white;
  }

  .logo {
    position: absolute;
    top: 3rem;
    left: 50%;
    margin-left: -31px;
    z-index: 3;

    @media screen and (min-width: 30rem) {
      left: 0;
      margin-left: 2rem;
    }
  }

  #btnMobileMenu {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url("../images/icon-hamburger.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;

    @media screen and (min-width: 30rem) {
      display: none;
    }
  }

  nav {
    position: relative;
    z-index: 10;

    @media screen and (min-width: 30rem) {
      margin-left: 7rem;
    }
  }

  ul {
    display: flex;
  }

  li {
    @media screen and (min-width: 30rem) {
      margin-left: 0.8rem;
      margin-right: 0.8rem;
    }
  }

  a {
    position: relative;
    padding: 0.8rem 0.5rem;
    font-size: 0.8rem;
    text-transform: lowercase;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      cursor: pointer;

      &::after {
        transition: all 0.2s ease-in-out;
        position: absolute;
        content: "";
        height: 3px;
        left: 18px;
        right: 18px;
        bottom: 0;
        background-color: $black;
      }
    }

    &:active {
      color: $darkGray;

      &::after {
        background-color: $darkGray;
      }
    }

    @media screen and (min-width: 30rem) {
      color: $white;

      &:hover,
      &:focus {
        cursor: pointer;

        &::after {
          transition: all 0.2s ease-in-out;
          position: absolute;
          content: "";
          height: 3px;
          left: 18px;
          right: 18px;
          bottom: 0;
          background-color: $white;
        }
      }

      &:active {
        color: $veryDarkGray;

        &::after {
          background-color: $veryDarkGray;
        }
      }
    }
  }

  .emptyDiv {
    width: 20px;
  }
}
