header {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  transition: all 3s ease-in-out;
  background-color: transparent;
  z-index: 7;

  &.isOpen {
    background-color: $white;

    // .logo,
    // .emptyDiv {
    //   display: none;
    // }
  }

  .logo{
    position: absolute;
    top:3rem;
    left: 50%;
    margin-left: -31px;
    z-index: 3;
  }

  #btnMobileMenu {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-hamburger.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    z-index: 10;
  }

  nav {
    position: relative;
    z-index: 10;

    ul {
      display: flex;
    }

    a {
      padding: 0.8rem 0.5rem;
      text-transform: lowercase;
      font-size: 0.8rem;
    }
  }

  .emptyDiv {
    width: 20px;
  }
}
