@keyframes moveOutToLeftMobile {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes moveInFromLeftMobile {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes moveOutToRightMobile {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes moveInFromRightMobile {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0px);
  }
}



@keyframes moveOutToLeftDesktop{
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-58.3vw);
  }
}

@keyframes moveInFromLeftDesktop {
  from {
    transform: translateX(58.3vw);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes moveOutToRightDesktop {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(58.3vw);
  }
}

@keyframes moveInFromRightDesktop {
  from {
    transform: translateX(-58.3vw);
  }
  to {
    transform: translateX(0px);
  }
}



@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: flex;
    opacity: 1;
  }
  99% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeInBackdrop {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
    }
    100% {
      display: block;
      opacity: 0.6;
    }
  }
  
  @keyframes fadeOutBackdrop {
    0% {
      display: block;
      opacity: 0.6 ;
    }
    99% {
      display: block;
      opacity: 0;
    }
    100% {
      display: none;
      opacity: 0;
    }
  }