@import "colors";
@import "fonts";
@import "keyframes";

@import "header";
@import "1slider";
@import "2bottom";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p,
a {
  font-family: "Spartan", sans-serif; // 5 6 7
}

h1,
h2 {
  font-weight: 700;
}

h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: $black;
}

p {
  color: $darkGray;
  font-weight: 500;
  line-height: 1.4rem;
  font-size: 0.8rem;
}

li {
  list-style-type: none;
}

#backdrop {
  position: absolute;
  inset: 0;
  background-color: $darkGray;
  opacity: 0;
  z-index: 5;
}

.fadeIn {
  animation: fadeIn 1s forwards;
}

.fadeOut {
  animation: fadeOut 1s forwards;
}

.fadeInBackdrop {
  animation: fadeInBackdrop 1s forwards;
}

.fadeOutBackdrop {
  animation: fadeOutBackdrop 1s forwards;
}

.displayNone {
  display: none;
}

.overflowHidden {
  overflow: hidden;
}

body {
  position: relative;

  @media screen and (min-width: 60rem) {
    overflow: hidden;
  }
}
