@import "colors";
@import "fonts";

@import "header";
@import "1slider";
@import "2bottom";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p,
a {
  font-family: "Spartan", sans-serif; // 5 6 7
}

h1, h2 {
  font-weight: 700;
}

h2{
    letter-spacing: 5px;
    text-transform: uppercase;
}

a {
  font-weight: 600;
  text-decoration: none;
}

p {
    color: $darkGray;
  font-weight: 500;
}

li{
    list-style-type: none;
}

.displayNone{
    display: none;
}

.overflowHidden{
    overflow: hidden;
}

body{
    background-color: wheat;
}